{
    "semi": true,
    "singleQuote": true,
    "useTabs": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "printWidth": 120,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "overrides": [
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.tsx",
        "options": {
          "parser": "typescript",
          "jsxSingleQuote": false,
          "jsxBracketSameLine": false
        }
      },
      {
        "files": "*.json",
        "options": {
          "parser": "json",
          "tabWidth": 2
        }
      },
      {
        "files": "*.html",
        "options": {
          "parser": "html",
          "htmlWhitespaceSensitivity": "css"
        }
      },
      {
        "files": "*.md",
        "options": {
          "parser": "markdown",
          "proseWrap": "preserve"
        }
      }
    ]
  }
